<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1004748932824-4h05k34chu2b12o69k4q99bq0lvt2jlo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1004748932824-4h05k34chu2b12o69k4q99bq0lvt2jlo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1004748932824-1809bf15a6f208dbuhe5i0m86ca0imhd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAH-52qJw4oRNl2A3X7CIgrJmOznPC3vQs</string>
	<key>GCM_SENDER_ID</key>
	<string>1004748932824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterLoginFirebase</string>
	<key>PROJECT_ID</key>
	<string>academy-proofs</string>
	<key>STORAGE_BUCKET</key>
	<string>academy-proofs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004748932824:ios:e2fc74112d1e54b536f9ad</string>
</dict>
</plist>